.book {
  width: 140px;
  align-content: center;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  padding: 5px;
}

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
.book-detail {
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
.onMouseEnterBook {
  opacity: 0.5;
  cursor: pointer;
  }

  .ant-btn-primary {
    visibility: visible !important;
    background-color: #9933ff;
    border-color: #9933ff;
  }
  
  .ant-btn {
    visibility: hidden;
  }

  .description{
    padding-top: 20px;
    text-align: justify;
  }
  .ant-rate ant-rate-disabled{
    padding-bottom: 30px;
  }